<h1> NEW CATEGORY!!! </h1>

<h1>New Category</h1>

<form action='/cat/create' method='post'>
	
	<label name='title'>Name</label>
	<input type='text' name='name' value=''/>

	<input type='submit' value='Register'>

</form>