<h1> NEW!!! </h1>

<h1>New Post</h1>

<form action='/create' method='post'>
	
	<label name='title'>Name</label>
	<input type='text' name='name' value=''/>

	<label name='title'>Email</label>
	<input type='text' name='email' value=''/>

	<label name='title'>Title</label>
	<input type='text' name='title' value=''/>

	<label name='title'>Post</label>
	<input type='text' name='post' value=''/>

	<label name='title'>Link</label>
	<input type='text' name='link' value=''/>

	<label name='title'>Rating</label>
	<input type='text' name='rating' type='number' value=''/>

	<label name='title'>Category</label>
	<select>
		<% for(var i=0; i<categories.length; i++) { %>
			<option value="<%=i+1%>"><%=categories[i].name %>&nbsp;</option>
		<% } %>
	</select>

	<input type='submit' value='Register'>

</form>